.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: var(--app-background-color); 
    padding: 10px 20px; 
}


.navbar-container,
.tittle-container,
.auth-container {
    gap: 10%;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts {
    font-size: 15px;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 500;
    transition: color 0.3s ease; 
    cursor: pointer;
}

.texts:hover {
    color: var(--buttons-light); 
}

.auth-container .auth-text {
    text-decoration: none;
    font-size: 15px;
    color: var(--third-text-color);
}

.auth-container .auth-text:hover {
    color: var(--buttons-light); 
}

.login-navbar-button {
    padding: 20px 30px;
    background-color: #212329;
    color: #d4d7db;
    border: 1px solid #bac5d082;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
}

.login-navbar-button:hover {
    color: #EAEDF2;
    background-color: var(--stream-container-background-color);
    transform: scale(1.05);
}

.login-navbar-button:active {
    background-color: #C27F57;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: stretch; 
    }

    .navbar-container,
    .tittle-container,
    .auth-container {
        flex: none; 
        gap: 5%; 
    }

    .texts {
        font-size: 14px; 
    }

    .login-navbar-button {
        padding: 15px 20px; 
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .texts {
        font-size: 12px; 
    }

    .login-navbar-button {
        padding: 10px 15px;
        font-size: 10px;
    }
}