.search-card-container {
    background-color: var(--search-widget-background-color);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 17px;
}

.space {
    background-color: var(--board-color);
    height: 4px;
}


.search-button {
    margin: 20px;
    padding: 20px;
    background-color: var(--search-button-background-color);
    color: var(--inverse-primary-text-color);
    border-radius: 10px;
    border: solid 0px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0px -50px 60px var(--search-button-shadow);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.search-button:hover {
    background-color: var(--stream-container-background-color);
    transform: scale(1.05);
    color: #EFEDEE;
}

