.search-section{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.platform-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: ce; 
    justify-content: center;
}

.platform-tittle{
    text-align: start;
    font-size: 25px;
    color: #8F929A;
    align-self: flex-start;
}

.platform-span{
    color: #d7dae0e1;
    font-size: 20px;
}

.search-game-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.search-card-section {
    align-self: center; 
}

